<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<a class="link" href="{{ path('homepage') }}">Naslovnica</a>
		<a class="link" href="{{ path('meal') }}">Jelovnik</a>
		<a class="link" href="{{ path('order_make') }}">Naruči jelo</a>
		{% if app.user %}
		<a class="link" href="{{ path('order') }}">Narudžbe</a>		
		<a class="link" href="{{ path('admin') }}">Moje narudžbe</a>
		<a class="link" href="{{ path('admin') }}">Dodaj jelo</a>		
		<a class="link" href="{{ path('logout') }}">Odjava</a>		
        {% else %}
		<a class="link" href="{{ path('login') }}">Prijava</a>
        {% endif %}
		
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
